html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.bg-theme{
  background-color: lightslategrey;
}
.nav-item-icon{
  font-size: 2rem;
}
.hero-bg{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-img-top{
  min-height: 50vh;
}
.card-title{
  color: black;
}
.card-text{
  color: black;
}
.card-img-top{
  min-height: 70px;
}